section.hero {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle at 70%, #4866fd 10%, #00126b 30%);
    background-size: 400% 400%;
    animation: mexendoBackground 15s ease-in-out infinite;
}

section.hero h1 {
    margin-left: 14.81rem;
    max-width: 53.75rem;
    font-size: 4.75rem;
    font-weight: 700;
    margin-top: 12.81rem;
    color: var(--cor-branco);
    margin-bottom: 1.88rem;
}

.sub-titulo-um,
.sub-titulo-dois {
    display: flex;
    margin-left: 15.06rem;
    gap: 0.70rem;
    color: var(--cor-branco);
    font-size: 1.25rem;
    font-weight: 400;
}

.sub-titulo-um {
    margin-bottom: 0.68rem;
}

.sub-titulo-dois {
    margin-bottom: 3.13rem;
}

.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.06rem 1.56rem;
    background-color: var(--cor-amarelo);
    width: 33.375rem;
    height: 4.0625rem;
    border-radius: 0.625rem;
    text-decoration: none;
    color: var(--cor-preto);
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 15.06rem;
    gap: 1rem;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.72);
    transition: all 0.3s ease;
}

.pulse {
    animation: pulse 2s ease infinite;
}

.btn-hero:hover {
    background-color: var(--cor-branco);
    box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.568);
}

.btn-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00126B;
    transition: width 0.4s ease-in-out;
    z-index: 0;
}



.img-background-hero {
    display: flex;
    justify-content: center;
    align-items: end;
}

.img-background-hero img {
    min-width: 50.33rem;
    height: 46.25rem;
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);
}

.btn-hero-mobile {
    display: none;
}

.background-hero-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    section.hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-bottom: 8.81rem;
    }

    section.hero::after {
        content: "";
        position: absolute;
        top: 24.9375rem;
        left: 0;
        width: 100%;
        height: calc(100% - 24.9375rem);
        background: linear-gradient(184deg, #243CB4 5.71%, #00126B 88.09%);
        animation: none;
        z-index: 0;
    }

    .container-hero {
        position: absolute;
        top: 8.06rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        animation: none;
    }

    section.hero h1 {
        margin-left: 0;
        max-width: 21.4375rem;
        font-size: 2.375rem;
        margin-top: 0;
        margin: 0 auto;
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .sub-titulo-um,
    .sub-titulo-dois {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-left: 0;
        margin: 0 auto;
        gap: 0;
        color: var(--cor-branco);
        font-size: 0.875rem;
        font-weight: 400;
    }

    .sub-titulo-um img,
    .sub-titulo-dois img {
        width: 0.8125rem;
        height: 0.8125rem;
        margin-right: 0.63rem;
    }

    .sub-titulo-um {
        max-width: 19.6875rem;
        margin-bottom: 1.25rem;
    }


    .sub-titulo-dois {
        max-width: 15.125rem;
        margin-bottom: 3.12rem;
    }

    .btn-hero {
        display: none;
    }

    .btn-hero-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21.4375rem;
        height: 4.0625rem;
        padding: 1.09rem 3.59rem;
        background-color: var(--cor-amarelo);
        border-radius: 0.625rem;
        text-decoration: none;
        color: var(--cor-preto);
        font-size: 1.125rem;
        font-weight: 400;
        margin-left: 0;
        gap: 1rem;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.72);
        transition: all 0.3s ease;
        margin-bottom: 3.12rem;
        margin: 0 auto;
    }

    .btn-hero-mobile:hover {
        background-color: var(--cor-branco);
        box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.568);
    }

    .btn-hero-mobile::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: #00126B;
        transition: width 0.4s ease-in-out;
    }


    .rolo-botao-hero {
        width: 1.875rem;
        height: 1.875rem;
    }

    .img-background-hero {
        display: none;
    }

    .background-hero-mobile {
        display: flex;
        position: relative;
        width: 100%;
        height: 24.9375rem;
        overflow: hidden;
        z-index: 0;
    }

    .background-hero-mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .pulse {
        animation: pulse 2s ease infinite;
    }

}