section.como-trabalhamos {
    padding-top: 6.88rem;
    padding-bottom: 6.88rem;
    background: linear-gradient(90deg, #243CB4 1.85%, #00126B 98.91%);
    color: var(--cor-branco);
    position: relative;
    overflow: hidden;
}

.container-como-trabalhamos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
}

.titulos-trabalhamos h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-align: center;
}

.titulos-trabalhamos h3 {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5rem;
    text-align: center;
}

.itens-trabalhamos h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 1.62rem;
    margin: 1.25rem 0 1.25rem 1.62rem;
}

.itens-trabalhamos p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 25.9375rem;
    margin: 0 auto;
}

.itens-trabalhamos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.19rem;
    z-index: 2;
}

.itens-trabalhamos .item-um, .item-dois, .item-tres, .item-quatro, .item-cinco, .item-seis {
    width: 29.1875rem;
    height: 10rem;
    border-radius: 1.875rem;
    border-right: 1px solid rgba(255, 255, 255, 0.50);
    border-left: 1px solid rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(20.5px);
    background-color: rgba(255, 255, 255, 0.001);
}

.itens-trabalhamos .item-um:hover, .item-dois:hover, .item-tres:hover, .item-quatro:hover, .item-cinco:hover, .item-seis:hover {
    border: 1px solid rgba(255, 255, 255, 0.50);
    background-color: rgba(255, 255, 255, 0.021);
    transform: scale(1.02);
}