section.destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    background-color: var(--cor-branco);
}
.container-destaques {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    text-align: start;
}

.destaque-um h3,
.destaque-dois h3,
.destaque-tres h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.destaque-um p,
.destaque-dois p,
.destaque-tres p {
    font-size: 1rem;
    font-weight: 400;
}

.destaque-um {
    padding: 1.38rem 4.7rem;
    border-right: 1px solid #B2B0B0;
    border-radius: 1.25rem;
}
.destaque-dois {
    padding: 1.38rem 3.5rem;
    border-right: 1px solid #B2B0B0;
    border-radius: 1.25rem;
}
.destaque-tres {
    padding: 1.38rem 5.94rem;
    border-radius: 1.25rem;
}

@media screen and (max-width: 767px) {
    section.destaques {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
        height: 19.4375rem;
        margin: 0 auto;
        background: linear-gradient(184deg, #00126B 5.71%, #243CB4 88.09%);
    }
    .container-destaques {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 767px;
        margin: 0 auto;
        text-align: center;

        background-color: #fff;
        width: 95%;
        border-radius: 1.25rem;
    }
    
    .destaque-um h3,
    .destaque-dois h3,
    .destaque-tres h3 {
        font-size: 1.125rem;
        margin-bottom: 0.62rem;
    }
    
    .destaque-um p,
    .destaque-dois p,
    .destaque-tres p {
        font-size: 1rem;
    }
    
    .destaque-um {
        padding: 1.25rem 2.5rem;
        margin: 0 0.94rem;
        border-right: 0;
        border-bottom: 1px solid #B2B0B0;
        border-radius: 1.25rem;
    }
    .destaque-dois {
        padding: 1.25rem 1.81rem;
        border-right: 0;
        margin: 0 0.94rem;
        border-bottom: 1px solid #B2B0B0;
        border-radius: 1.25rem;
    }
    .destaque-tres {
        padding: 1.25rem 0.75rem;
        margin: 0 0.94rem;
        border-radius: 1.25rem;
    }
    
}